<%- include ("partials/header") %>
    <div class="container">
        <div class="accout_wrapper">
            <h1>Account Page Here</h1>
        </div>
    </div>

    <%- include ("partials/footer") %>