<%- include("partials/header.ejs") %>
    <div class="container">
        <h1 class="landing-page">landing Page</h1>
        <a href="/movie">Movies</a>
        <a href="/movie/new">Add Movie</a>
    </div>

    <%- include("partials/footer.ejs") %>